# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# Django stuff:
settings.py

# Sphinx documentation
docs/_build/
